.archive-move-on {
    position: absolute;
    top: 11px;
    left: 0;
    margin-left: -6px;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    background: #555;
    border: 1px solid #fff;
    border-radius: 50%;
    
}
.posts-collapse .post-header {
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: border;
    border-bottom: 1px dashed #ccc;
}

.posts-collapse .post-meta {
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 5px;
}


.posts-collapse .post-title a {
    color: #666;
    border-bottom: none;
}

.posts-collapse .post-title {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;
}

body {
    line-height: 2;
}

.posts-collapse .post-header::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    margin-left: -4px;
    background: #bbb;
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}

